body {
    color: #FFFFFF;
    background-color: black;
    font-family: Arial;
}
.center-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;         
  width: 100vw;           
}
audio {
  display: block;
  margin: 20px auto;
  position: absolute;
  top: 50px;
  left: 100px;

}
