body {
    color: #FFFFFF;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
audio {
  display: block;
  margin: 20px auto;
  position: absolute;
  top: 50px;
  left: 100px;
}

















































/* serendipidade */